@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.both {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero {
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.hero_left {
    width: 50%;
}

.promo_img {
    width: 100%;
    height: 100%;
}

.hero_right {
    background-color: #F1E4E6;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.hero_right__text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
}

.subheading {
    font-size: 2rem;
    font-weight: 700;

}

.pink {
    color: #F16D7F;
}

.line {
    background-color: #F16D7F;
    width: 12px;
    height: 92px;
}

.offer {
    padding-bottom: 97px;
    padding-top: 64px;
}

.offer_top {
    display: flex;
    gap: 30px;
}

.offer_bottom {
    width: 100%;
    margin-top: 30px;
}

.category {
    position: relative;
}

.category_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.category_text span {
    color: #F16D7F;
    font-weight: 700;
    font-size: 1.5rem;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_text {
    text-align: center;
}

.top_text h1 {
    color: #222222;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 6px;
}

.top_text p {
    color: #9F9F9F;
    margin-bottom: 48px;
}

.products_section {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.product {
    background-color: #F8F8F8;
    position: relative;
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product:hover .product_name a {
    color: #F16D7F;
}

.product:hover .cart_adding {
    display: flex;
}

.product_info {
    padding: 24px 16px 20px;
}

.cart_adding {
    display: none;
    position: absolute;
    top: 188px;
    left: 111px;
    color: white !important;
    border: 1px solid white;
    width: 138px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.product_name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: none;
}

.product_desc {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;

}

.product_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button {
    padding: 14px 38px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: solid 1px #F26376;
    margin-top: 18px;
    margin-bottom: 95px;
}

.button:hover {
    background-color: #F16D7F;
    color: white;
}

.features {
    background-color: #222224;
    display: flex;
    gap: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FBFBFB;
    padding: 104px 0;
}

.fheading {
    font-size: 19.96px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 24px;
}

.ftext {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
}

.subscribe {
    height: 448px;
    background-image: url(img/sub-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-text {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.sub-right {
    align-items: center;
    width: 100%;
}

.sub-right_text {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    font-weight: 700;
    margin-bottom: 32px;
}

.sub-right_text span {
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    font-weight: 400;
    display: block;
}

.email_form {
    display: flex;
    border-radius: 99px;
    width: 356px;
}

.email_form:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sub-form {
    border: none;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    width: 100%;
    border-radius: 99px 0 0 99px;
    padding-left: 22px;
    padding-right: 22px;
    height: 49px;
    outline: none;
}

.sub-form::placeholder {
    opacity: 0.67;
    font-size: 14px;
    line-height: 17px;
}

.sub-button {
    background: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    height: 36px;
    padding-right: 24px;
    padding-left: 24px;
    border: none;
    border-radius: 0 99px 99px 0;
    height: 49px;
    outline: none;
}

.sub-button:hover {
    background: #E05C6E;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
    }

.footer p {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.icons {
    display: flex;
    gap: 8px;
    
}

.footer__icon {
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon:hover {
    background-color: #F16D7F;
}

.footer__icon:hover .fab {
    color: white;
}

/* Catalog styles */

.top__navbar {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    display: flex;
    justify-content: space-between;
}

.top__navbar_breadcrumbs {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.top__navbar_breadcrumbs :last-child {
    font-weight: 700;
    color: #F16D7F;   
}

.top__navbar_breadcrumbs :not(:last-child)::after {
    padding-left: 8px;
    padding-right: 8px;
    content: "/";
}

.catalog__filters {
    display: flex;
    padding-top: 48px;
    padding-bottom: 64px;
    position: relative;
}

.main_filter,
.main_filter :last-child {
    padding-left: 16px;
    z-index: 9999;
}

.main_filter:hover ~ .main_filter-open {
    display: flex;
}

.main_filter-open {
    display: none;
    z-index: 1;
    position: absolute;
    width: 360px;
    top: 32px;
    flex-direction: column;
    padding: 24px;
    padding-top: 56px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.main_filter-open :not(:last-child) {
    margin-bottom: 12px;
}

.filter_category {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}

.filter_category::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 37px;
    margin-right: 8px;
    background: #F16D7F;
}

.main_filter-items {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

details {position: relative;}

details summary::-webkit-details-marker {
    display:none;
  }

summary {
    outline: none;
}

summary i {
    padding-left: 8px;
}

.filters_center {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.filters_center-items {
    position: absolute;
    width: 80px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 96px;
}

/* product page */
.product__photos {
    background: #F7F7F7;
    height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    padding: 12px 18px;
    background: rgba(42, 42, 42, 0.15);
}

.arrow:hover i {
    color: #E05C6E;
}

.product__description {
    margin-bottom: 54px;
    top: -75px;
    position: relative;
}


.product__description_wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
    border: 1px solid #EAEAEA;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters--product {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: baseline;
}

.filters--product-items {
    position: absolute;
    width: 80px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.product-collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    position: relative;
}

.product-collection::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 3px;
    background: #EF5B70;
    display: block;
    top: 24px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.product--name {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin: 27px auto 48px;
}

.product--discription {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 55%;
}

.product--price {
    margin-top: 32px;
    padding-bottom: 80px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    position: relative;
}

.product--price::after {
    content: "";
    position: absolute;
    width: 640px;
    height: 1px;
    background: #EF5B70;
    display: block;
    top: 64px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cart_adding_button {
    display: flex;
    background-color: white;
    color: #F26376 !important;
    border: 1px solid #FF6A6A;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    margin-top: 64px;
    gap: 24px;
    padding: 12px 40px 12px 24px;
}

.cart_adding_button:hover {
    background-color: #F26376;
    color: white !important;
    fill: white;
}

.cart_adding_button:hover .cart--icon {
    fill: white;
}

.marginOnProductPage {
    margin-top: 120px;
}